body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo img {
    height: 40px; /* Sesuaikan ukuran logo */
  }
  
  .navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .navbar-menu ul li:first-child {
    margin-left: 0;
  }
  
  .navbar-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar-menu ul li a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  .banner {
    position: relative;
    max-height: 800px; /* Menentukan tinggi maksimum banner */
    overflow: hidden; /* Mengatur agar gambar yang melebihi tinggi maksimum dipotong */
  }
  
  .banner img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Mengatur agar gambar mengisi seluruh area banner */
  }
  
  .banner-text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
  }
  
  .banner-text h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .banner-text p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .section {
    background-color: #f4f4f4;
    padding: 40px 20px;
  }
  
  .section-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  .section-content-1 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image-container img {
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px;
  }
  
  .contact-us-section {
    background-color: #eafc4c;
    padding: 40px 20px;
  }
  
  .contact-us-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-container {
    max-width: 600px;
    display: block;
  }
  
  .form-container form {
    flex: 1;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 190px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 20px;
  }
  
  .footer p {
    margin: 0;
  }
  